* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary: rgb(38, 192, 171);
$secondary: rgb(0, 73, 77);
$secondaryGray: rgb(94, 122, 125);
$grayish: rgb(127, 156, 159);
$lightGray: rgb(197, 228, 231);
$veryLightGray: rgb(244, 250, 250);

$primaryContrast: rgb(255, 255, 255);

$error: rgb(255, 99, 71);

@font-face {
  font-family: "fontRegular";
  src: url("./assets/fonts/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "fontItalic";
  src: url("./assets/fonts/SpaceMono-Italic.ttf");
}
@font-face {
  font-family: "fontBold";
  src: url("./assets/fonts/SpaceMono-Bold.ttf");
}
@font-face {
  font-family: "fontBoldItalic";
  src: url("./assets/fonts/SpaceMono-BoldItalic.ttf");
}

@keyframes show-menu-color {
  0% {
    opacity: 0.2;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  &:hover {
    cursor: default;
  }
}

body {
  width: 100vw;
  //max-width: 1440px;
  height: 100vh;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;

  //  background-color: $lightGray;

  .App {
    width: 100vw;
    //max-width: 925px;
    //max-width: 1440px;
    height: 100vh;
    height: 100svh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    //background-color: $lightGray;

    header {
      width: 100%;
      max-width: 925px;
      height: 10vh;
      min-height: 70px;
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .wrapper-switch-theme {
        width: 20%;
        display: flex;
        justify-content: start;

        .switch {
          --line: #505162;
          --dot: #fce6a3;
          --circle: #9ea0be;
          --duration: 0.3s;
          --text: #9ea0be;

          cursor: pointer;
          input {
            display: none;
            & + div {
              position: relative;
              &:before,
              &:after {
                --s: 1;
                content: "";
                position: absolute;
                height: 4px;
                top: 10px;
                width: 24px;
                background: var(--line);
                transform: scaleX(var(--s));
                transition: transform var(--duration) ease;
              }
              &:before {
                --s: 0;
                left: 0;
                transform-origin: 0 50%;
                border-radius: 2px 0 0 2px;
              }
              &:after {
                left: 28px;
                transform-origin: 100% 50%;
                border-radius: 0 2px 2px 0;
              }
              span {
                padding-left: 56px;
                line-height: 24px;
                color: var(--text);
                &:before {
                  --x: 0;
                  --b: var(--circle);
                  --s: 4px;
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 24px;
                  height: 24px;
                  border-radius: 50%;
                  box-shadow: inset 0 0 0 var(--s) var(--b);
                  transform: translateX(var(--x));
                  transition: box-shadow var(--duration) ease,
                    transform var(--duration) ease;
                }
                &:not(:empty) {
                  padding-left: 64px;
                }
              }
            }
            &:checked {
              & + div {
                &:before {
                  --s: 1;
                }
                &:after {
                  --s: 0;
                }
                span {
                  &:before {
                    --x: 28px;
                    --s: 12px;
                    --b: var(--dot);
                  }
                }
              }
            }
          }
        }
      }

      .app-title {
        //position: absolute;
        //top: 10%;
        width: 55%;
        margin: 0 8px;
        bottom: 1vh;
        font-family: "fontBold";
        font-size: 2.5rem;
        font-size: clamp(1.2rem, 5vw, 2.5rem);
        text-transform: uppercase;
        text-align: center;
        //color: $secondaryGray;
      }

      .wrapper-set-color {
        width: 25%;
        min-width: 60px;
        max-width: 140px;
        height: 80%;
        min-height: 20px;
        max-height: 50px;
        display: flex;
        justify-content: flex-end;
        //background-color: burlywood;

        .dropdown {
          position: relative;
          width: 100%;
          height: 100%;
          border: 0px solid;

          &::before {
            content: "";
            z-index: 100000;
            width: 8px;
            height: 8px;
            position: absolute;
            right: 20px;
            top: 15px;
            border: 2px solid;
            border-color: inherit;
            border-top: 2px solid transparent;
            border-right: 2px solid transparent;
            transition: 0.5s;
            pointer-events: none;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
          }
          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 12px 20px;
            padding: 10px;
            cursor: pointer;
            font-family: "fontBold";
            text-transform: capitalize;
            letter-spacing: 1px;
            border: none;
            outline: none;
            &:hover {
              cursor: pointer;
              background: inherit;
              opacity: 0.75;
            }

            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
          }

          .options {
            z-index: 1000;
            width: 100%;
            height: fit-content;
            padding: 1rem;
            position: absolute;
            top: 60px;
            //background: #c2c2c2;
            //box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
            overflow: hidden;
            display: none;
            border-radius: 10px;
            .btn-option {
              width: 100%;
              margin: 0.5rem 0;
              padding: 0.1rem 0;
              padding-left: 0.5rem;

              font-family: "fontBold";
              text-align: start;
              text-transform: capitalize;
              letter-spacing: 1px;
              // color: inherit;
              // background: inherit;
              // background: rgba(#000000, 0%);

              border: none;
              border-spacing: 1px;
              border-style: solid;
              border-color: rgba(255, 255, 255, 0);

              cursor: pointer;

              &:hover {
                font-family: "fontBold";
                border-spacing: 1px;
                border-style: solid;
                border-color: inherit;
                background: inherit;
                transform: scale(1.1) translateX(0);
                -webkit-transform: scale(1.1) translateX(0);
                -moz-transform: scale(1.1) translateX(0);
                -ms-transform: scale(1.1) translateX(0);
                -o-transform: scale(1.1) translateX(0);
                filter: saturate(2) invert(0.2);
                -webkit-filter: saturate(2) invert(0.2);
              }
              border-radius: 4px;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              -ms-border-radius: 4px;
              -o-border-radius: 4px;
            }
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
          }
        }
        .dropdown.active {
          &::before {
            top: 22px;
            transform: rotate(-225deg);
            -webkit-transform: rotate(-225deg);
            -moz-transform: rotate(-225deg);
            -ms-transform: rotate(-225deg);
            -o-transform: rotate(-225deg);
          }
          .options {
            display: block;
            animation: show-menu-color 250ms linear alternate;
            -webkit-animation: show-menu-color 250ms linear alternate;
          }
        }
      }
    }

    .wrapper-calculator {
      //opacity: 0;
      //width: 90vw;
      width: 100%;
      min-width: 360px;
      max-width: 925px;
      height: 62vh;
      min-height: 580px;
      max-height: 484px;
      //margin-top: 65px;
      //position: absolute;

      z-index: 100;

      display: flex;
      justify-content: space-evenly;
      align-items: center;

      //background-color: $primaryContrast;
      border-radius: 26px;

      .wrapper-inputs {
        width: 45%;
        height: 90%;
        min-height: 280px;
        max-height: 420px;
        padding: 1.1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .wrapper-bill {
          width: 100%;
          height: 20%;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-between;

          .bill-title {
            font-family: "fontBold";
            font-size: 1rem;
            line-height: 1;
            //color: $secondaryGray;
          }
          .wrapper-input {
            width: 100%;
            display: flex;
            position: relative;
            align-items: center;

            .bill-input {
              width: 100%;
              height: 2.1em;
              padding-right: 1.1rem;
              display: flex;
              justify-content: end;
              align-items: center;
              font-family: "fontBold";
              font-size: 24px;
              text-align: right;
              //color: $secondary;
              //background-color: $veryLightGray;
              border: none;
              border-radius: 0.3rem;

              &::placeholder {
                position: absolute;
                right: 1.1rem;
                color: inherit;
                opacity: 0.5;
              }
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            /* Firefox */
            input[type="number"]::-moz-inner-spin-button {
              -moz-appearance: none;
            }
            /* Edge */
            input[type="number"]::-ms-inner-spin-button {
              -ms-appearance: none;
            }
          }
          .wrapper-input::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 1.2rem;
            transform: translateY(-50%);
            width: 10px; /* Ajusta el ancho según tus preferencias */
            height: 16px;
            background: url("./assets/images/icon-dollar.svg");
            background-size: cover;
          }
        }

        .wrapper-tip-buttons {
          width: 100%;
          height: 40%;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-between;

          //background-color: rgba(165, 92, 122, 0.341);

          //opacity: 0.9;

          .tip-title {
            //margin-left: 120px;
            font-family: "fontBold";
            font-size: 1rem;
            //line-height: 1;
            //color: $secondaryGray;
          }
          .buttons-container {
            width: 100%;
            height: 75%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            //gap: 0.83rem;
            gap: 2%;

            //background-color: aqua;

            .btn {
              //width: 7.4rem;
              width: 31%;

              height: 42%;
              font-family: "fontBold";
              font-size: 1.5rem;
              font-size: clamp(1rem, 2.6vw, 1.5rem);
              text-align: center;
              //color: $lightGray;
              //background-color: $secondary;
              border: none;
              &:hover {
                cursor: pointer;
                background-color: inherit;
                opacity: 0.8;
              }
              &:active {
                transform: scale(0.95);
                -webkit-transform: scale(0.95);
                -moz-transform: scale(0.95);
                -ms-transform: scale(0.95);
                -o-transform: scale(0.95);
              }

              border-radius: 6px;
            }

            .input-custom {
              //background-color: gray;
              //color: $secondary;
              //background-color: $veryLightGray;
              border: none;

              &:hover {
                cursor: text;
                //background-color: $lightGray;
                background-color: inherit;
                opacity: 0.8;
              }
              &::placeholder {
                //color: $grayish;
                color: inherit;
                opacity: 0.5;
              }
              &:focus {
                //position: absolute;
                padding-right: 1rem;
                text-align: right;
                //color: $secondary;
                //outline-color: $primary;
              }
            }
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            /* Firefox */
            input[type="number"]::-moz-inner-spin-button {
              -moz-appearance: none;
            }
            /* Edge */
            input[type="number"]::-ms-inner-spin-button {
              -ms-appearance: none;
            }
          }
        }

        .wrapper-people {
          width: 100%;
          height: 20%;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-between;

          .people-text {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .people-title {
              font-family: "fontBold";
              font-size: 1rem;
              //line-height: 1;
              //color: $secondaryGray;
            }
            .people-error {
              font-family: "fontBold";
              font-size: 1rem;
              //line-height: 1;
              //color: $error;
            }
            .hide {
              display: none;
            }
          }

          .wrapper-input {
            width: 100%;
            display: flex;
            position: relative;
            align-items: center;

            .people-input {
              width: 100%;
              height: 2.1em;
              padding-right: 1.1rem;
              display: flex;
              justify-content: end;
              align-items: center;
              font-family: "fontBold";
              font-size: 24px;
              text-align: right;
              //color: $secondary;
              //background-color: $veryLightGray;
              border: 2px solid;
              border-radius: 0.3rem;

              &::placeholder {
                //position: absolute;
                right: 1.1rem;
                color: inherit;
                opacity: 0.5;
                //color: $grayish;
              }
              // &:focus {
              //   outline-color: $primary;
              // }
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            /* Firefox */
            input[type="number"]::-moz-inner-spin-button {
              -moz-appearance: none;
            }
            /* Edge */
            input[type="number"]::-ms-inner-spin-button {
              -ms-appearance: none;
            }
          }
          .wrapper-input::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 1.2rem;
            transform: translateY(-50%);
            width: 14px; /* Ajusta el ancho según tus preferencias */
            height: 14px;
            background-image: url("./assets/images/icon-person.svg");
            background-size: cover;
          }
        }
      }

      .wrapper-display {
        width: 45%;
        height: 90%;
        min-height: 280px;
        max-height: 420px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        //background-color: $secondary;
        //opacity: 0.0;

        .amounts-container {
          width: 100%;
          height: 60%;

          .wrapper-tip-amount {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: end;

            .tip-title {
              width: 50%;
              height: 80%;
              //margin-left: 150px;
              padding: 0 2.5rem;
              padding-top: 5px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: start;

              h3 {
                font-family: "fontBold";
                font-size: 1rem;
                //font-size: clamp(0.7rem, 2vw, 1rem);
                //color: $veryLightGray;
              }
              h4 {
                font-family: "fontBold";
                font-size: 0.8rem;
                //color: $grayish;
              }
            }
            .tip-amount {
              width: 50%;
              height: 80%;
              padding-right: 2.6rem;
              display: flex;
              justify-content: end;
              align-items: center;

              span {
                font-family: "fontBold";
                font-size: 2.9rem;
                font-size: clamp(2.2rem, 5vw, 2.9rem);
                //color: $primary;
              }
            }
          }

          .wrapper-total {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: start;

            .total-title {
              width: 50%;
              height: 80%;
              padding: 0 2.5rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: start;

              h3 {
                font-family: "fontBold";
                font-size: 1rem;
                //color: $veryLightGray;
              }
              h4 {
                font-family: "fontBold";
                font-size: 0.8rem;
                //color: $grayish;
              }
            }
            .total-amount {
              width: 50%;
              height: 80%;
              padding-right: 2.6rem;
              display: flex;
              justify-content: end;
              align-items: center;

              span {
                font-family: "fontBold";
                font-size: 2.9rem;
                font-size: clamp(2.2rem, 5vw, 2.9rem);
                //color: $primary;
              }
            }
          }
        }

        .btn-container {
          width: 100%;
          height: 40%;
          padding-top: 2vh;
          display: flex;
          justify-content: center;
          align-items: center;

          .btn-reset {
            width: 80%;
            height: 3rem;
            min-height: 34px;
            font-family: "fontBold";
            text-transform: uppercase;
            font-size: 1.3rem;
            //color: $secondary;
            //background-color: $primary;
            border: none;
            &:hover {
              cursor: pointer;
              //background-color: lighten($primary, 20);
              background-color: inherit;
              opacity: 0.8;
            }
            &:active {
              transform: scale(0.95);
              -webkit-transform: scale(0.95);
              -moz-transform: scale(0.95);
              -ms-transform: scale(0.95);
              -o-transform: scale(0.95);
            }
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
        }

        border-radius: 16px;
      }
    }

    footer {
      width: 100vw;
      max-width: 925px;
      margin-top: 10px;
      margin-bottom: 2vh;
      z-index: 200;
      position: relative;
      //top: 12%;
      //bottom: 5vh;
      display: flex;
      justify-content: center;
      //   top: 10px;
      //top: 5vh;
      font-family: "fontRegular";
      .attribution {
        width: 80%;
        max-width: 600px;
        display: flex;
        justify-content: space-around;
        font-size: 0.8rem;
        font-size: clamp(0.6rem, 2.6vw, 0.9rem);
        text-align: center;
      }
      .attribution a {
        font-family: "fontBold";
        //color: rgb(24, 60, 202);
      }
    }
  }
}

@media (max-width: 815px) {
  body {
    height: 100%;
    overflow-y: scroll;
  }
  body .App {
    overflow-y: scroll;
    justify-content: space-between;

    .wrapper-calculator {
      max-width: 500px;
      height: 80vh;
      max-height: 800px;
      margin-top: 0;
      flex-direction: column;

      .wrapper-inputs {
        width: 80%;
        height: 50%;
        margin: 10px 0;
      }

      .wrapper-display {
        width: 80%;
        height: 50%;
        //margin: 20px 0;
        margin-bottom: 2%;
      }
    }
  }
}

@media (max-width: 550px) {
  body {
    height: 100%;
    overflow-y: scroll;

    //background-color: rgb(95, 193, 217);
  }
  body .App {
    overflow-y: scroll;
    justify-content: space-between;
    header {
      .app-title {
        line-height: 1;
      }
      .wrapper-set-color {
        max-height: 35px;
        margin-right: 10px;
        .dropdown {
          &::before {
            display: none;
            width: 6px;
            height: 6px;
            right: 10px;
            top: 30%;
          }
          input {
            padding: 5px;
            text-align: center;
            font-size: clamp(0.6rem, 4vw, 1rem);
          }
          .options {
            width: 120px;
            width: 150%;
            width: fit-content;
            right: 0;
            top: 40px;
            //
            .btn-option {
              padding: 0.5rem;
            }
          }
        }
        .dropdown.active {
          &::before {
            // top: 50%;
            display: none;
          }
        }
      }
    }

    .wrapper-calculator {
      width: 96vw;
      min-width: 280px;
      max-width: 500px;
      height: 80vh;
      max-height: 800px;
      margin-top: 0;
      flex-direction: column;

      .wrapper-inputs {
        width: 80%;
        height: 50%;
        margin: 10px 0;
        //background-color: cadetblue;
        .wrapper-bill {
          .wrapper-input {
            .bill-input {
              height: 1.5em;
            }
          }
        }
      }

      .wrapper-display {
        width: 80%;
        height: 50%;
        //margin: 20px 0;
        margin-bottom: 2%;
      }
    }

    // footer{
    //     position: relative;
    //     //margin-top: 20px;
    // }
  }
}

@media (max-width: 420px) {
  body .App {
    header {
      .app-title {
        margin-top: 10px;
      }
      .wrapper-set-color {
        .dropdown {
          input {
            letter-spacing: 0px;
          }
        }
      }
    }

    .wrapper-calculator {
      width: 96vw;
      min-width: 260px;
      min-height: 620px;
      //justify-content: space-between;
      .wrapper-inputs {
        width: 95%;
        height: fit-content;
        min-height: 360px;
        .wrapper-bill {
          min-height: 60px;
          .bill-title {
            font-family: "fontRegular";
            font-size: 0.8rem;
          }
          .wrapper-input {
            .bill-input {
              font-size: 1.2rem;
            }
          }
        }
        .wrapper-tip-buttons {
          //margin-top: 2vh;
          min-height: 150px;
          justify-content: space-around;
          .tip-title {
            font-family: "fontRegular";
            font-size: 0.8rem;
          }
          .buttons-container {
            gap: 1%;
            .btn {
              width: 45%;
              min-width: 100px;
              height: 20%;
              min-height: 36px;
              margin: 5px 0;
            }
          }
        }
        .wrapper-people {
          min-height: 60px;
          margin-top: 2vh;
          .people-text {
            .people-title {
              font-family: "fontRegular";
              font-size: 0.8rem;
            }
          }

          .wrapper-input {
            .people-input {
              font-size: 1.2rem;
            }
          }
        }
      }
      .wrapper-display {
        width: 90%;
        height: fit-content;
        min-height: 200px;
        .amounts-container {
          .wrapper-tip-amount {
            height: 45%;
            .tip-title {
              padding: 0 1rem;
              h3 {
                font-size: 0.8rem;
                line-height: 1;
              }
              h4 {
                font-size: 0.7rem;
              }
            }
            .tip-amount {
              padding-right: 1rem;
              span {
                font-size: clamp(1.8rem, 5vw, 2.2rem);
              }
            }
          }
          .wrapper-total {
            height: 45%;
            .total-title {
              padding: 0 1rem;
              h3 {
                font-size: 0.8rem;
                line-height: 1;
              }
              h4 {
                font-size: 0.7rem;
              }
            }
            .total-amount {
              padding-right: 1rem;
              span {
                font-size: clamp(1.8rem, 5vw, 2.2rem);
              }
            }
          }
        }
        .btn-container {
          padding-top: 0;
          .btn-reset {
            height: 5vh;
            min-height: 40px;
            font-size: 1rem;
          }
        }
      }
    }
    footer {
      .attribution {
        flex-direction: column;
      }
    }
  }
}
